/* @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700&display=swap') ; */

.form-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    height: 60px;
    display: flex;
    align-items: center;
    transform: none;
}

.input-search {
    width: 400px;
    height: 40px;
    left: 504px;
    top: 97.41px;
    background: rgb(255, 255, 255);
    border-radius: 23px;
    margin: 10px;
    font-family: 'Epilogue';
    text-align: center;
    border: none;
}

.button-search{
    margin: 10px;
    width: 117px;
    height: 45px;
    left: 913px;
    top: 97.41px;
    border-radius: 23px;
    color:rgb(255, 255, 255);
    font-family: 'Epilogue';
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.03em;
    border: none;
    background: #13b4e6;
}


.p-found {
    color: white;
    text-align: center;
    margin: 100px;
    font-family: 'Epilogue';
    font-style: normal;
    font-size: 20px;
    line-height: 14px;
    letter-spacing: 0.03em;
}

.img-album {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.p-album {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  color: #000000;
  margin: 20px;
}

.p-artist {
    font-family: 'Epilogue';
    font-style: normal;
    color: #3d495c;
    margin: 20px;
    font-size: 15px;
    line-height: 14px;
    letter-spacing: 0.03em;
  }


.div-container {
    border-radius: 0px;
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: min-content;
}

.ul-album {
    border-radius: 23px;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
    flex-wrap: wrap;
}

a:link {
    text-decoration: none;
}

.link {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 13px;
    padding: 20px;
    width: 190px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.link:hover {
    background-color: rgba(171, 193, 240, 0.493);
    text-size-adjust: 10px;
}
